html{
    position: relative;
    min-height: 100%;
    background-color: whitesmoke;
}
body{
    margin: 0 0 80px; /* bottom = footer height */
    font-size: 25px;
    background-color: aliceblue;
    font-family: "Helvetica Neue", black;
   /* box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}
nav{
    position:relative;
    width:620px;
    margin:0 auto;
    margin-top:50px;
    padding:10px;
}
#burger{
    width:30px;
    height: 20px;
}
 .form-signin {
        max-width: 300px;
		}